body, html {
 	height: 100%;
  	margin: 0;
 	padding: 0;
}


body {
	background-color: black;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}



#logo {
	background-image: url("../Images/LogoEIP_1920x1080.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	position: fixed;
	margin: 0;
	padding: 0;
}


#canvas, .gameView {
	position: fixed;
	margin: 0;
	padding: 0;
}



div.game {
	margin-left: auto;
	margin-right: auto;
	margin-top: 320px;
	margin-bottom: auto;

	width: 840px;
	height: 480px;
	background-color: transparent;
	background-image: url("../Images/LogoEIP_1136x640.png");
	background-size: cover;
	background-repeat: no-repeat;
}

div.fullscreen {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	top: 10px;
	left: 402px;
	
	width: 38px;
	height: 38px;
	background-color: blue;
}
